/*sass input.scss output.css
sass --watch input.scss:output.css
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  height: 100%;
  background: #ccc;
  /* The html and body elements cannot have any padding or margin. */ }

/*LISTS*/
.list-answers {
  list-style: none; }

body {
  margin: 0px; }

/*PAGE SECTIONS//////////////////////////////////////////////////*/
.navbar {
  height: 100px;
  width: 100%;
  background-color: #fff;
  color: #000; }

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -70px;
  padding: 0 0 70px; }

.container-main {
  border: 1px solid blue;
  width: 100%;
  padding: 0 0px;
  margin: 0 auto;
  text-align: center; }

.main-content {
  text-align: center;
  background-color: #f2f2f2;
  border: 2px solid blue;
  margin: 0 20px; }

.footer {
  height: 70px;
  background-color: #fff; }

.hide {
  visibility: hidden; }

.input-section {
  padding: 25px; }

.btn-submit {
  border: 0px;
  background-color: blue;
  width: 150px;
  height: 75px; }
  .btn-submit:active {
    background-color: yellow; }
  .btn-submit:hover {
    background-color: red;
    cursor: pointer; }

#a1 {
  border: 1px solid #000; }
