
/*sass input.scss output.css
sass --watch input.scss:output.css
*/
@import 'reset';


html,
body {
  height: 100%;
  background: #ccc;
  /* The html and body elements cannot have any padding or margin. */
}


/*LISTS*/

.list-answers {
  list-style: none;
}

body {
  margin: 0px;
}



/*PAGE SECTIONS//////////////////////////////////////////////////*/

.navbar {
  height: 100px;
  width: 100%;
  background-color: #fff;
  color: #000;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -70px;
  padding: 0 0 70px;
}

.container-main {
  border: 1px solid blue;
  width: 100%;
  padding: 0 0px;
  margin: 0 auto;
  text-align: center;
}

.main-content {
  text-align: center;
  background-color: #f2f2f2;
  border: 2px solid blue;
  margin: 0 20px;
}


.footer {
  height: 70px;
  background-color: #fff;
}


.hide {
  visibility: hidden;
}


.input-section {
  padding: 25px;
}


.btn-submit {
  border: 0px;
  background-color: blue;
  width: 150px;
  height: 75px;

  &:active {background-color: yellow;}
  &:hover {
    background-color: red;
            cursor: pointer;}
}



#a1 {
  border: 1px solid #000;
}